<div class="settings-menu-links">
    <ul class="nav nav-tabs menu-tabs">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings">{{ 'Doctor_settings_header.general_settings' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings/notifications">{{ 'Doctor_settings_header.other_settings' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/doctor/settings">Nos Plan</a>
        </li>
    </ul>
</div>    

