<div class="main-wrapper">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <app-header-settings></app-header-settings>
            <app-notifiacation-alert></app-notifiacation-alert>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h1 class="card-title"><b> * {{ 'Doctor_settings.language_system' | translate }}</b></h1>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.default_language' | translate }}</h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <div class="language-selector d-flex align-items-center">
                                    <select id="language_select" class="form-select me-2"
                                        [(ngModel)]="currentUser.language" (change)="toggleLanguage($event)">
                                        <option value="en">{{'languages.en' | translate}}</option>
                                        <option value="fr">{{'languages.fr' | translate}}</option>
                                        <option value="ar">{{'languages.ar' | translate}}</option>
                                    </select>
                                    <img [src]="currentUser.language === 'fr' ? '../../../assets/icons/fr.png' : '../../../assets/icons/us.png'"
                                        class="flag" alt="Selected Language Flag">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h1 class="card-title"><b> * {{ 'Doctor_settings.notifications_system.title' | translate }}</b>
                        </h1>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.notifications_system.enable_email' | translate }}
                            </h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="email_notifications" class="check"
                                    [checked]="currentUser.is_emailable" (change)="toggleEmailNotifications($event)">
                                <label for="email_notifications" class="checktoggle">checkbox</label>
                            </div>
                        </div>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.notifications_system.enable_system' | translate
                                }}</h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="system_notifications" class="check"
                                    [checked]="currentUser.is_notifiable" (change)="toggleSystemNotifications($event)">
                                <label for="system_notifications" class="checktoggle">checkbox</label>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <h1 class="card-title"><b> * {{ 'Doctor_settings.other_settings.title' | translate }}</b></h1>

                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.other_settings.working_weekends' | translate }}
                            </h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="working_weekends" class="check"
                                    [checked]="currentUser.working_weekends" (change)="toggleWorkingWeekends($event)">
                                <label for="working_weekends" class="checktoggle">checkbox</label>
                            </div>
                        </div>
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">{{ 'Doctor_settings.other_settings.working_online' | translate }}
                            </h4>
                            <div class="status-toggle d-flex justify-content-between align-items-center">
                                <input type="checkbox" id="working_on_line" class="check"
                                    [checked]="currentUser.working_on_line" (change)="toggleWorkingOnLine($event)">
                                <label for="working_on_line" class="checktoggle">checkbox</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>