<div class="main-wrapper">
    <app-doctor-header></app-doctor-header>
    <app-doctor-sidebar></app-doctor-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <app-header-settings></app-header-settings>
            <app-notifiacation-alert></app-notifiacation-alert>

            <div class="row">
                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Doctor_information.title' | translate }}</h5>
                            </div>
                            <div class="card-body pt-0">
                                <form [formGroup]="upadate" #f="ngForm" (ngSubmit)="updateinformations(f)">
                                    <div class="row">

                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">{{
                                                    'Doctor_information.lastname' | translate }}</label>
                                                <input type="text" [(ngModel)]="currentUser.lastname" name="lastname"
                                                    formControlName="lastname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">{{
                                                    'Doctor_information.firstname' | translate }}</label>
                                                <input type="text" [(ngModel)]="currentUser.firstname" name="firstname"
                                                    formControlName="firstname" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">{{
                                                    'Doctor_information.civil_status.title' | translate }}</label>
                                                <select [(ngModel)]="currentUser.civil_status" name="civil_status"
                                                    formControlName="civil_status" class="form-control"
                                                    id="exampleFormControlSelect1">
                                                    <option hidden value="" selected>{{
                                                        'Doctor_information.civil_status.title' | translate }}</option>
                                                    <option value="Mr">{{ 'Doctor_information.civil_status.mr' |
                                                        translate }}</option>
                                                    <option value="Mrs">{{ 'Doctor_information.civil_status.mrs' |
                                                        translate }}</option>
                                                    <option value="Mme">{{ 'Doctor_information.civil_status.mme' |
                                                        translate }}</option>
                                                    <option value="other">{{ 'Doctor_information.civil_status.other' |
                                                        translate }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="input-block">
                                                <label for="exampleFormControlSelect1" class="form-label">{{
                                                    'Doctor_information.your_location' | translate }}</label>
                                                <select class="form-control" [(ngModel)]="currentUser.location"
                                                    name="location" formControlName="location" id="department">
                                                    <option hidden value="" selected>{{
                                                        'Doctor_information.your_location' | translate }}</option>
                                                    <option *ngFor="let item of locations" [value]="item">{{item}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">{{
                                                    'Doctor_information.date_of_birth' | translate }} <span
                                                        class="login-danger">*</span></label>
                                                <input type="date" [(ngModel)]="currentUser.birthday" name="birthday"
                                                    formControlName="birthday" class="form-control"
                                                    id="exampleFormControlSelect1" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-xl-6">
                                            <div class="input-block select-gender">
                                                <label class="gen-label">{{ 'Doctor_information.gender.title' |
                                                    translate }} <span class="login-danger">*</span></label>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input formControlName="gender" [(ngModel)]="currentUser.gender"
                                                            [value]="'male'" type="radio" name="gender"
                                                            class="form-check-input" checked>{{
                                                        'Doctor_information.gender.male' | translate }}
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" [(ngModel)]="currentUser.gender"
                                                            formControlName="gender" [value]="'female'" name="gender"
                                                            class="form-check-input">{{
                                                        'Doctor_information.gender.female' | translate }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary px-4"
                                            style="background-color: rgb(38, 8, 158);">{{
                                            'Doctor_information.update_informations' | translate }}</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-header">
                                <h5 class="card-title">Fusseau Horaire</h5>
                            </div>
                            <div class="card-body pt-0">
                                <form [formGroup]="upadate" #f="ngForm" (ngSubmit)="updateinformations(f)">
                                    <div class="row">

                                        <div class="col-12 col-md-12">
                                            <div class="input-block mb-3">
                                                <label for="exampleFormControlSelect1" class="form-label">Votre
                                                    Timezone</label>
                                                <select [(ngModel)]="currentUser.time_zone" name="time_zone"
                                                    formControlName="time_zone" class="form-control">
                                                    <option *ngFor="let tz of timeZones" [value]="tz">
                                                        {{ tz }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary px-4"
                                            style="background-color: rgb(38, 8, 158);">{{
                                            'Doctor_information.update_informations' | translate }}</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-header">
                                <h5 class="card-title">{{ 'Doctor_information.update_image' | translate }}</h5>
                            </div>
                            <div class="card-body pt-0">
                                <form [formGroup]="imageupdate" #f="ngForm" (ngSubmit)="updateimage(f)">
                                    <p class="settings-label">{{ 'Doctor_information.doctor_image_details' |
                                        translate }} <span class="star-red">*</span></p>
                                    <div class="settings-btn">
                                        <input type="file" accept="image/*" formControlName="avatar" id="file"
                                            (change)="fileChange($event)" class="hide-input" />
                                        <label for="file" class="upload">
                                            <i class="feather-upload"></i>
                                        </label>
                                    </div>
                                    <h6 class="settings-size">{{ 'Doctor_information.recommended_image_size' |
                                        translate }} <span>150px x 150px</span></h6>
                                    <div class="upload-images">
                                        <img [src]="currentUser.user_image_url || 'assets/img/logo-dark.png'"
                                            alt="Image" />
                                        <a href="javascript:void(0);" class="btn-icon logo-hide-btn">
                                            <i class="feather-x-circle"></i>
                                        </a>
                                    </div>
                                    <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary px-4"
                                            style="background-color: rgb(38, 8, 158);">{{
                                            'Doctor_information.update_image' | translate }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>