<div class="main-wrapper">
    <app-header-admin></app-header-admin>
    <app-sidebar-admin></app-sidebar-admin>
    <app-spinner [isLoading]="isLoading"></app-spinner>
    <ng-progress #progressBar></ng-progress>

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table show-entire">
                        <div class="card-body">
                            <div class="page-table-header mb-2">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="doctor-table-blk">
                                            <h3>Doctors List</h3>
                                            <div class="doctor-search-blk">
                                                <div class="row align-items-center">

                                                    <!-- Search (9 cols) -->
                                                    <div class="col-md-10">
                                                        <div class="top-nav-search table-search-blk">
                                                            <form class="d-flex">
                                                                <input type="text" name="role" class="form-control"
                                                                    [(ngModel)]="searchedKeyword"
                                                                    (ngModelChange)="searchDoctors()"
                                                                    placeholder="Search for a Doctor">
                                                                <a class="btn"><img
                                                                        src="assets/img/icons/search-normal.svg"
                                                                        alt></a>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- Add Doctor Button (3 cols) -->
                                                    <div class="col-md-2 text-end">
                                                        <button class="btn btn-primary w-100" data-bs-toggle="modal"
                                                            data-bs-target="#addDoctor">
                                                            <i class="fa fa-plus me-1"></i> Add Doctor
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table *ngIf="!isLoading"
                                    class="table border-0 custom-table comman-table datatable mb-0">
                                    <thead>

                                        <tr>
                                            <th (click)="sortByName()">
                                                <img src="assets/img/icons/sort-icon-01.svg" alt>
                                                <img src="assets/img/icons/sort-icon-02.svg" alt>Name
                                            </th>
                                            <th (click)="sortByCreatedAt()">Created</th>
                                            <th>Phone Number</th>
                                            <th>Contact</th>
                                            <th>Email de facturation</th>
                                            <th>Subscription</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let item of filteredDoctors | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

                                            <td class="profil-content">
                                                <a>
                                                    <img width="28" height="28" src="{{item.user_image_url}}"
                                                        class="rounded-circle" alt>
                                                    <span>Dr. {{item.firstname}} {{item.lastname}}</span>
                                                </a>
                                            </td>
                                            <td><a *ngIf="item.phone_number"
                                                    href="javascript:;">+{{item.phone_number}}</a>
                                                <a *ngIf="!item.phone_number" href="javascript:;"> <span
                                                        style="text-align: center;"> - </span> </a>
                                            </td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.facture_email}}</td>
                                            <td><button data-bs-toggle="modal" data-bs-target="#subscriptionModal"
                                                    class="btn btn-primary">View subscription</button></td>
                                            <td>{{item.created_at | date: 'yyyy-MM-dd'}}</td>
                                            <td class="text-end">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false"><i
                                                            class="fa fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" (click)="delete(item.id, i)"><i
                                                                class="fa fa-trash-alt m-r-5"></i> Archiver</a>
                                                        <a *ngIf="!item.is_verified" class="dropdown-item"
                                                            (click)="activateCompte(item.id)">
                                                            <i class="fa fa-toggle-on m-r-5"></i>
                                                            Activate Now</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="filteredDoctors?.length == 0" class="no-appointment-row">
                                            <td colspan="7" class="description-content no-appointment-text">
                                                No Doctor Founds!!
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="text-align:right;">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_patient" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt width="50" height="46">
                    <h3>Are you sure want to delete this ?</h3>
                    <div class="m-t-20"> <a href="#" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="verificationModalLabel">Verification File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <ng-container *ngIf="selectedPdfUrl">
                        <img [src]="selectedPdfUrl | safeUrl" class="img-fluid verification-image mx-auto d-block" />
                    </ng-container>
                    <ng-container *ngIf="!selectedPdfUrl">
                        <p class="text-muted">No verification file uploaded.</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addDoctor" tabindex="-1" aria-labelledby="addDoctorlLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDoctorlLabel">Add New Doctor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="row g-3">

                            <!-- Firstname -->
                            <div class="col-md-6">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" formControlName="firstname">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('firstname')?.touched && doctorForm.get('firstname')?.invalid">
                                    First name is required
                                </div>
                            </div>

                            <!-- Lastname -->
                            <div class="col-md-6">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" formControlName="lastname">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('lastname')?.touched && doctorForm.get('lastname')?.invalid">
                                    Last name is required
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" formControlName="email">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('email')?.touched && doctorForm.get('email')?.invalid">
                                    Valid email is required
                                </div>
                            </div>

                            <!-- Gender -->
                            <div class="col-md-6">
                                <label class="form-label">Gender</label>
                                <select class="form-control" formControlName="gender">
                                    <option value="">Select</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('gender')?.touched && doctorForm.get('gender')?.invalid">
                                    Gender is required
                                </div>
                            </div>

                            <!-- Location -->
                            <div class="col-md-6">
                                <label class="form-label">Location</label>
                                <input type="text" class="form-control" formControlName="location">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('location')?.touched && doctorForm.get('location')?.invalid">
                                    Location is required
                                </div>
                            </div>


                            <!-- Password -->
                            <div class="col-md-6">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('password')?.touched && doctorForm.get('password')?.invalid">
                                    Password must be at least 6 characters
                                </div>
                            </div>

                            <!-- Confirm Password -->
                            <div class="col-md-6">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="password_confirmation">
                                <div class="text-danger"
                                    *ngIf="doctorForm.get('password_confirmation')?.touched && doctorForm.hasError('mismatch')">
                                    Passwords do not match
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="doctorForm.invalid || isLoading">
                            {{ isLoading ? 'Registering...' : 'Register' }}
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionlLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subscriptionlLabel">Current Subscription Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
      <!-- Modal Body -->
      <div class="modal-body p-5 bg-light">
        <p class="text-muted fs-5">
          Your subscription details will be displayed here, including plan name, renewal date, billing cycle, and features.
        </p>
        
        <!-- Example Subscription Info (Optional) -->
        <ul class="list-group mb-4">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 rounded mb-2" style="background-color: #f8f9fa;">
            <span class="fw-medium">Plan</span>
            <span class="text-primary fw-semibold">Premium Pro</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 rounded mb-2" style="background-color: #f8f9fa;">
            <span class="fw-medium">Renewal Date</span>
            <span>March 15, 2025</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 rounded mb-2" style="background-color: #f8f9fa;">
            <span class="fw-medium">Status</span>
            <span class="badge bg-success rounded-pill">Active</span>
          </li>
        </ul>

        <div class="text-center mt-4">
          <button class="btn btn-outline-primary px-4 me-2">Manage Plan</button>
          <button class="btn btn-primary px-4">Upgrade</button>
        </div>
      </div>            </div>
        </div>
    </div>
</div>