.description-content {
  white-space: normal; /* Allows the text to wrap */
  word-wrap: break-word; /* Ensures long words or URLs are wrapped */
  max-width: 200px; /* Limits the width of the description area */
  padding: 5px; /* Reduces padding for a smaller look */
  background-color: #f9f9f9; /* Optional: Adds a background color to the description */
  font-size: 0.875rem; /* Smaller font size for compact appearance */
  overflow: hidden; /* Hides any overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) to truncated text */
  line-height: 1.2; /* Adjust line height for compact text */
}
.no-appointment-row {
  background-color: #f9f9f9; /* Light background color to make it stand out */
  height: 400px; /* Adjust height to center content vertically */
}

.no-appointment-text {
  text-align: center; /* Center text horizontally */
  vertical-align: middle; /* Center text vertically */
  font-weight: bold; /* Make text bold */
  color: #888; /* Light gray color for text */
  padding: 20px; /* Add padding for better spacing */
  font-size: 16px; /* Adjust font size */
}
